.main {
    #{&}__form {
        &__search {
            @include resp (661px) {
                margin: {
                    top: 50px;
                    bottom: 50px;
                }
            }
        }

        @include resp (500px) {
            width: calc(100% - 50px);
        }
    }

    #{&}__tracks {
        @include resp (661px) {
            width: calc(100% - 130px);

            margin: {
                bottom: 50px;
            }
        }

        @include resp (500px) {
            width: calc(100% - 50px);
        }
    }

    #{&}__lyrics {
        @include resp (700px) {
            width: calc(100% - 100px);
        }

        @include resp (500px) {
            width: calc(100% - 50px);
        }
    }
}