$primaryBackgroundColor: #f03d30;
$primaryColor: #f5f5f5;
$primaryBoxShadow1: 0 15px 30px rgba(0, 0, 0, 0.3);
$primaryBoxShadow2: -2px -2px 6px rgba(255, 255, 255, 0.01), 2px 2px 6px rgba(0, 0, 0, 0.8);
$fontWeights: (
    thinnest: 100,
    thinner: 200,
    thin: 300,
    normal: 400,
    regular: 500,
    medium: 600,
    bold: 700,
    bolder: 800,
    boldest: 900
);